
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand Times of Corona


    

    
    #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link#home(href='/home')
                    | Home 
                    span.sr-only (current)
            li.nav-item
                a.nav-link#news(href='/news') News
            li.nav-item
                a.nav-link#graphs(href='/graphs') Graphs
            li.nav-item
                a.nav-link#about(href='/about') About
            li.nav-item
                a.nav-link#donations(href='/donations') Donations
    
    .pull-right.phone
        ul.nav.navbar-nav
            li
                button.donateButton(type="button" class="btn navbar-btn btn-danger" onclick="window.open('http://help.feedingamerica.org/goto/keshav')" height="80%") Donate to Feeding America
    
    button.hamburgerButton.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
                
    
    
    