//- .topnav
//-     a.navbar-text(id='home', href="/home") Home
//-     a.navbar-text(id='news', href="/news") News
//-     a.navbar-text(id='spread_map', href="/spread_map") Spread Map


.container_fluid
    .row.centered-form.center-block
        .container.col-md-10.col-md-offset-1
            ul.nav.nav-tabs
                li.nav-item
                    a.nav-link(id='#home' href='/home') Home
                li.nav-item
                    a.nav-link(id='#news' href='/news') News
                li.nav-item
                    a.nav-link(id='#spread_map' href='/spread_map') Spread Map