extends layout.pug

block appContent
    script setActive('about')
    .container
        .top-buffer
            .container
                .row
                    .col-12.text-center
                        h2 About
                .top-buffer
                .row
                    .col-12.text-center
                        p.
                            Times of Corona is a website made to inform people about Covid-19. 
                            It provides news updates and a table that gives people statistics
                            about how each state in the US is doing with Covid-19. Please go to our
                            donations page to donate to Feeding America to help with
                            hunger caused by Covid-19. It is important to stay safe during Covid-19 
                            by staying at home and washing your hands as much as possible. This is very 
                            important!
                .text-center
                    img.img-fluid(src="/images/coronavirus_safety.jpg" width="50%" height="auto")
            .top-buffer