extends layout.pug

block appContent
    script setActive('graphs')
    .top-buffer
    .container.text-center
        h2 Graphs
    .top-buffer
    .container
        canvas.mx-auto#usPositiveTests(width="1000" height="550")
    script.
        window.onload = function() {
            let ctx = document.getElementById("usPositiveTests");
            let myChart = new Chart(ctx, !{data});
        };