extends layout.pug

block appContent
    script setActive('graphs')
    .top-buffer
    .container.text-center
        h2 Graphs
    .top-buffer
    .text-center
        .container(style="position: relative; height:65vh; width:130vh")
            canvas.mx-auto#usPositiveTests
    script.
        window.onload = function() {
            let ctx = document.getElementById("usPositiveTests");
            let myChart = new Chart(ctx, !{data});
        };