extends layout.pug

block appContent
    script setActive('graphs')
    canvas#usPositiveTests(width="1600" height="900")
    script.
        window.onload = function() {
            let ctx = document.getElementById("usPositiveTests");
            let myChart = new Chart(ctx, !{data});
        };