doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="keywords" content="Covid-19, corona virus, food donation, Feeding America, tracker, times of corona")
        title Times of Corona

        script(src='/scripts/chart.js/dist/Chart.min.js')

        link(rel="stylesheet" href='/css/custom.css')
        link(rel="stylesheet" href="/css/text_styles.css")
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href="/css/jquery.dataTables.min.css")


        script(src="/scripts/navbar.js")
        script(src="/bootstrap/js/dist/button.js")
        script(src="/bootstrap/dist/js/jquery-3.4.1.slim.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(src="/scripts/statesTable.js")
        script(src="/scripts/jquery.dataTables.min.js")
        script(src="/scripts/donateButton.js")
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-167540705-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-167540705-1');

        body
            //- include includes/header.pug
            include includes/navbar.pug
            block appContent
        .container.text-right
            img(height='4px' src='http://hitwebcounter.com/counter/counter.php?page=7353392&style=0007&nbdigits=5&type=page&initCount=0' title='Web Counter' alt='counter free' border='0')
            
