doctype html
html(lang="en")
    head
        title Times of Corona
        link(rel="stylesheet" href="/css/layout.css")
        link(rel="stylesheet" href="/css/navbar.css")
        link(rel="stylesheet" href="/css/header.css")
        link(rel="stylesheet" href="/css/home.css")
        link(rel="stylesheet" href="/css/text_styles.css")
        script(src="/scripts/navbar.js")
    body.body_container
        include includes/header.pug
        include includes/navbar.pug
        block appContent