doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Times of Corona

        script(src='/scripts/chart.js/dist/Chart.min.js')

        link(rel="stylesheet" href='/css/custom.css')
        link(rel="stylesheet" href="/css/text_styles.css")
        link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css')
        

        script(src="/scripts/navbar.js")
    body
        include includes/navbar.pug
        block appContent