.top-buffer {
    margin-top: 1.25rem;
}

.phone {
    display: none;
}

.round {
    border-radius: 25px;
    padding: 10px;
}

@media only screen and (max-width: 992px) {
    .phone {
        display: block;
    }
}


.navbar-toggler-icon{
    padding: 1.25rem;
}

.donateButton {
    position: absolute;
    right: 7rem;
    bottom: 1rem;
}

.hamburgerButton {
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.my-nav {
    position: relative;
}

