.heading {
    display: inline-block;
    height: 20px;
}

.break {
    padding: 10px;
    color: transparent;
}

.stats {
    display: inline-block;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 25px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.stats, th {
    font-size: large;
}
.stats_container {
    display: inline-block;
    background-color: #fdcb9e;
    border-radius: 25px;
    padding: 10px;
}

.about_container {
    display: inline-block;
    text-align: center;
    background-color: #fdcb9e;
    height: 30%;
    width: 50%;
    border-radius: 25px;
    padding: 0px 10px;
}

