.title_text {
    color: #3f3f44;
    font-size: 20px;
}

.heading_text {
    color: #3f3f44;
    font-size: 30px;
}

.content_text {
    color: #3f3f44;
    font-size: 18px;
}

.small_text {
    color: #3f3f44;
    font-size: 11px;
}